.recipe-form-wrapper {
  background-color: lightgray;
}

.recipe-form {
  border: 2px solid black;
  background-color: white;
  padding: 1rem;
  min-height: 70vh;
}

.tab-row {
  margin-bottom: -1.3rem;
}

.form-input input,
.form-input textarea {
  background-color: whitesmoke;
  border-radius: 5px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-section {
  padding-top: 1rem;
}

#general {
  display: grid;
  grid-template-areas: 
    "recipe-name"
    "recipe-time"
    "recipe-description";
  gap: 2rem;
}

#recipe-image {
  display: grid;
  grid-template-areas: 
    "img-label"
    "img-asset"
    "img-input"
    "cta-btn";
}

.list-editor {
  display: grid;
  grid-template-areas: 
    "list-label"
    "list-items"
    "list-input"
    "list-button";
}

.recipe-name {
  grid-area: recipe-name;
}

.recipe-description {
  grid-area: recipe-description;
}

#recipe-image label {
  grid-area: img-label;
}

#recipe-image img {
  grid-area: img-asset;
}

#recipe-image input {
  grid-area: img-input;
}

#recipe-image button {
  grid-area: cta-btn;
}

.recipe-time {
  grid-area: recipe-time;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-editor h3 {
  grid-area: list-label;
}

.list-editor ul,
.list-editor ol {
  grid-area: list-items;
  min-height: 40vh;
  background-color: lightgray;
  overflow-y: scroll;
}

.list-editor input,
.list-editor textarea {
  grid-area: list-input;
}

.cta-btn {
  width: min-content;
  padding: 0.5rem 1rem;
}

@media (min-width: 1024px) {
  .tab-row {
    margin-bottom: -2.45rem;
  }
  #general {
    grid-template-areas: 
      "recipe-name recipe-description"
      "recipe-time recipe-description";
  }
  #recipe-image {
    grid-template-areas: 
      "img-label img-label"
      "img-asset img-input"
      "cta-btn cta-btn";
  }
  #recipe-image img {
    width: 50%;
  }
  .list-editor {
    grid-template-areas: 
      "list-items list-label"
      "list-items list-input"
      "list-items list-button";
  }
  .recipe-description {
    min-width: 500px;
  }
  .recipe-time {
    flex-direction: row;
  }
}
