.recipe-card {
  border: 2px solid whitesmoke;
  background-image: linear-gradient(lightblue, whitesmoke);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.recipe-card:hover, :focus {
  border: 2px solid black;
  cursor: pointer;
}

.recipe-card-image {
  max-width: 100%;
  height: auto;
  background-image: url("../../assets/images/bg_buffer.jpg");  
}

.recipe-card-text {
  padding-left: 1rem;
}
