.recipe-info-page {
  background-color: white;
  padding: 2rem;
}

#general-info {
  display: grid;
  grid-template-areas: 
    "jump-link"
    "recipe-image"
    "recipe-title"
    "recipe-time"
    "recipe-details";
}

#recipe-info {
  grid-area: jump-link;
}

.header-row {
  grid-area: recipe-title;
}

.action-row {
  display: flex;
  justify-content: space-evenly;
}

.action-row a {
  color: green;
  text-decoration: none;
}

.action-row a:hover,
.action-row a:focus {
  border-bottom: 2px solid green;
}

.action-row a,
.action-row button {
  text-transform: capitalize;
}

.header-row a:hover,
.header-row a:focus {
  border-bottom: 2px solid green;
}

.header-row button {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
}

#general-info img {
  grid-area: recipe-image;
}

#recipe-time {
  grid-area: recipe-time;
  display: flex;
  flex-direction: column;
}

#recipe-details {
  grid-area: recipe-details;
}

#recipe-prep {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .recipe-info-page {
    width: 60%;
    margin: 0 auto;
  }
  #general-info {
    grid-template-areas: 
      "jump-link jump-link"
      "recipe-title recipe-title"
      "recipe-time recipe-image"
      "recipe-details recipe-details";
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  #recipe-prep {
    clear: both;
    flex-direction: row;
    justify-content: space-around;
  }
}
