.recipe-form {
  background-color: white;
  border: thin solid black;
  padding: 1rem;
  min-height: 70vh;
}

input::file-selector-button {
  border: thin solid gray;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.file-upload {
  font-size: 1rem;
  padding: 0.5rem;
}

.form-action {
  padding-top: 2rem;
  position: relative;
}

.form-section {
  padding-top: 1rem;
}

.recipe-image {
  grid-area: recipe-image;
}

#recipe-name {
  grid-area: recipe-name;
}

#recipe-description {
  grid-area: recipe-description;
}

.recipe-image label {
  grid-area: img-label;
}

.recipe-image img {
  width: 100%;
  border: thin solid black;
}

.recipe-image input {
  grid-area: img-input;
}

.recipe-time {
  grid-area: recipe-time;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cta-btn {
  width: min-content;
  padding: 0.5rem 1rem;
}

.list-editor {
  padding-top: 2rem;
}

.list-editor ul {
  list-style: none;
}

.recipe-submit-btn {
  width: 8rem;
}

.recipe-form button {
  border-radius: 0;
  text-transform: capitalize;
}

.recipe-form button:hover,
.recipe-form button:focus {
  color: black;
}

@media (min-width: 1024px) {
  .recipe-form {
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
  }
  #general {
    display: grid;
    grid-template-areas: 
      "recipe-name recipe-name"
      "recipe-time recipe-image"
      "recipe-description recipe-description";
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
  .recipe-description {
    min-width: 500px;
  }
}
