.primary {
  background-color: lightblue;
  color: black;
}

.primary:hover {
  background-color: aliceblue;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.secondary {
  background-color: ghostwhite;
  color: black;
}

.secondary:hover {
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.warning {
  background-color: lightgoldenrodyellow;
  color: black;
}

.warning:hover {
  background-color: lemonchiffon;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.danger {
  background-color: red;
  color: white;
}

.danger:hover {
  background-color: darkred;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header-btn {
  padding: 0.5rem 2rem;
  border-radius: 5%;
}

.google-login-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-radius: 15px;
  text-transform: capitalize;
}

.google-login-btn:hover, .google-login-btn:focus {
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px black;
}

.editor-btn, 
.recipe-submit-btn {
  width: min-content;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-transform: capitalize;
  border: 1px solid green;
}

.editor-btn {
  color: black;
}

.editor-btn:hover,
.editor-btn:focus {
  background-color: green;
  color: white;
}

.recipe-submit-btn {
  background-color: green;
  border: 1px solid green;
  color: white;
}

.recipe-submit-btn:hover,
.recipe-submit-btn:focus {
  background-color: white;
  color: green;
}

.img-btn {
  background-color: transparent;
  border: none;
}

.icon-btn {
  padding: 0.25;
  border-radius: 50%;
  border: 2px solid black;
  height: 25px;
  width: 25px;
}

.sub-header-btn {
  background-color: var(--dark-slate-gray);
  height: 35px;
  width: 35px;
}

.menu-btn {
  padding: 0.5rem 2rem;
  border-radius: 5%;
  white-space: nowrap;
}

.passive-bg {
  background-color: transparent;
  border: 0;
}

.user-submit-btn {
  padding: 0.25rem 1rem;
  margin-top: 0.75rem;
  border-radius: 2%;
  width: min-content;
  text-transform: capitalize;
  white-space: nowrap;
}
