.form-input input,
.form-input textarea {
  border-radius: 0;
  border: thin solid gray;
}

.form-input textarea {
  padding: 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.error {
  color: #B20000;
  position: absolute;
  left: 7px;
  font-size: small;
  bottom: -25px;
}

.invalid {
  background-color: #ffcccb;
}
