.form-tab-item {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5rem 1rem 0 1rem;
  width: max-content;
  cursor: pointer;
  text-transform: capitalize;
}
  
.form-tab-item:hover, 
.form-tab-item:focus, 
.current-tab {
  background-color: white;
  border-bottom: 0;
}
  
.locked, .locked:hover, .locked:focus {
  background-color: slategray;
  border-bottom: 2px solid black;
}
