.user-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 2rem 2rem 2rem;
  border: 2px solid black;
}

.user-form h2, label {
  text-transform: capitalize;
}

.user-menu {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-size: 1rem;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
