.user-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  padding: 12px;
  border: 2px solid black;
}

.form-input {
  font-size: 1rem;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
