@import url('../../animations/expand2.css');
@import url('../../animations/delayRender.css');
/*  animation needs attention, temporarily removing */

.sub-header {
  position: sticky;
  top: 6.4rem;
  background-color: white;
  width: min-content;
}

.contracted {
  border-right: 2px solid var(--dark-slate-gray);
  border-bottom: 2px solid var(--dark-slate-gray);
  padding: 0.45rem;
  position: absolute;
  background-color: white;
  /* animation: expand2 0.5s; */
}

.contracted-trigger {
  height: 2rem;
  width: 2rem;
  position: absolute;
  border-right: transparent;
  border-bottom: transparent;
}

.expanded {
  padding: 2rem 2rem 2rem 0;
  position: absolute;
  background-color: white;
  border-right: 2px solid var(--dark-slate-gray);
  border-bottom: 2px solid var(--dark-slate-gray);
  top: 0;
  left: 0;
  /* animation: expand2 0.5s; */
}

.react-icon {
  stroke-width: 2;
  color: white;
}

/* .expanded ul {
  animation: delayRender 0.5s;
} */

.sub-header-icon {
  height: 25px;
  width: 25px;
  /* animation: delayRender 0.5s; */
}

.right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 1024px) {
  .sub-header {
    top: 6.9rem;
  }  
}
