.sub-header-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub-header-link {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  white-space: nowrap;
}

.sub-header-link:hover {
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.sub-header-link:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
