.bg-auburn {
  background-color: var(--auburn);
  color: white;
}

.bg-chocolate-cosmos {
  background-color: var(--chocolate-cosmos);
  color: white;
}

.bg-vanilla {
  background-color: var(--vanilla);
}

.bg-dark-slate-gray {
  background-color: var(--dark-slate-gray);
  color: white;
}

.bg-hyundai-yellow {
  background-color: var(--hyundai-yellow);
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-pastel-green {
  background-image: radial-gradient(#A3EBB1, #77DD77);
}

.bg-radial-blue {
  background-image: radial-gradient(aliceblue, steelblue);
}
