.cta-row {
  white-space: nowrap;
}

.list-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.editor-btn {
  width: 8rem;
}

.highlight-line {
  padding: 0 2rem;
}

.editor-item {
  border-top: thin solid gray;
  border-left: thin solid gray;
  border-right: thin solid gray;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor-list:last-child {
  border-bottom: thin solid gray;
  padding-bottom: 0;
}

.ordered-list button,
.unordered-list button {
  padding: 0;
}

.list-display {
  display: flex;
  flex-direction: column;
}

.editor-display ul {
  padding-left: 0;
}

.list-editor-error {
  color: #B20000;
  font-size: small;
}

.list-field {
  right: 0;
  top: 0;
}

.error-container {
  position: relative;
}

.input-row {
  display: flex;
  flex-direction: row;
}

.input-error {
  display: flex;
  flex-direction: row;
  border: thin solid #B20000;
}

.input-error input {
  flex-grow: 1;
  border: none !important;
  box-shadow: none;  
} 

.input-row input {
  flex-grow: 1;
  box-shadow: none;
}

.ordered-list {
  padding-left: 0;
}

.li-col {
  display: flex;
  flex-direction: column;
}

.li-col .cta-row {
  justify-content: space-evenly;
}

@media (min-width: 1024px) {
  .list-input {
    gap: 0.65rem;
  }
  .highlight-line {
    padding: 1rem 2rem;
  }
  .list-editor-error {
    margin-left: 10px;
  }
}
