.ordered-list li {
  margin: 0.5rem 0;
}

.unordered-list li {
  margin: 0.25rem 0;
}

.list-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.editor-btn {
  width: 8rem;
}

.editor-item {
  border: 0.25px solid black;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-display {
  display: flex;
  flex-direction: column;
}
