.ordered-list li {
  margin: 0.5rem 0;
}

.unordered-list li {
  margin: 0.25rem 0;
}

.list-input {
  display: flex;
  flex-direction: column;
}

.item-input {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .list-input {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
