.ingredients-list { 
  overflow-y: scroll;
  padding: 1rem;
  position: static;
}

.ingredient-button {
  height: 3rem;
}

.ingredient-button:active,
.ingredient-button:hover {
  border-color: green;
  color: green;
  outline: green;
}
  
@media (min-width: 1024px) {
  .ingredients-list {
    height: 75vh;
  }
}
