.ingredients-data {
  padding: 2rem;
  position: sticky;
  top: 110px;
  background-color: white;
}

  
@media (min-width: 1024px) {
  .ingredients-data {
    position: initial;
    height: 75vh;
    overflow-y: auto;
  }
}
