.ingredients-list { 
  overflow-y: auto;
  padding: 1rem;
  position: static;
}

.ingredients-list button {
  border-radius: 0;
}

.ingredient-button {
  height: 3rem;
}
  
@media (min-width: 1024px) {
  .ingredients-list {
    height: 75vh;
  }
}
