.login-page h3 {
  padding-left: 2rem;
  height: min-content;
}

.login-container {
  grid-area: login;
}

.login-options {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-filler {
  display: none;
}

@media (min-width: 1024px) {
  .login-container {
    background-color: whitesmoke;
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .login-page {
    display: grid;
    grid-template-areas: 
      "filler login"
      "filler login";
    grid-template-columns: 1fr 1fr;
  }
  .page-filler {
    display: block;
    grid-area: filler;
    background-image: url("../assets//images/login-page-asset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 75vh;
  }
  .login-options {
    margin-top: 0;
  }
}
