.login-page h3 {
  height: min-content;
}

.login-container {
  grid-area: login;
  height: 75vh;
  padding-top: 2rem;
  margin: 0 auto;
  width: 50%;
}

.login-container button {
  white-space: nowrap;
}

.login-options {
  list-style: none;
  padding: 0;
  display: flex;
}

.page-filler {
  display: none;
}

@media (min-width: 1024px) {
  .login-container {
    width: 30%;
    margin-top: 2rem;
    height: auto;
    padding-top: 0;
  }
  .login-page {
    display: grid;
    grid-template-areas: 
      "filler login"
      "filler login";
    grid-template-columns: 1fr 1fr;
  }
  .page-filler {
    display: block;
    grid-area: filler;
    background-image: url("../assets//images/login-page-asset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 75vh;
  }
  .login-options {
    margin-top: 0;
  }
}
