.app-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 3.125rem 0;
}

.header-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: capitalize;
}

.mobile-hide {
  display: none;
}

.header-menu {
  position: relative;
}

.hamburger-icon {
  height: 50px;
  width: 50px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-link-menu {
  display: none;
}

.divider {
  display: none;
}

@media (min-width: 1024px) {
  .app-header {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
  }
  .hamburger-icon {
    display: none;
  }
  .divider {
    font-size: 1.75rem;
  }
  .header-links {
    display: flex;
    flex-direction: row;
  }
  .header-link-menu {
    display: block;
    position: absolute;
    background-color: white;
    padding: 0.25rem 0;
    text-transform: capitalize;
  }
  
  .header-link-menu:hover {
    background-color: whitesmoke;
  }
}
