.absolute-right {
  position: absolute;
  right: 0;
}

.spaced-apart {
  display: flex;
  justify-content: space-between;
}

.align-flex-end {
  display: flex;
  align-content: flex-end;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float {
  clear: both;
}

.pb-1 {
  padding-bottom: 1rem;
}

.ml-1-5 {
  margin-left: 1.5rem;
}

.line-highlight {
  padding: 1rem 2rem;
  max-width: 60rem;
}

.space-buffer-left {
  margin-left: 3.125rem;
}

.space-buffer-right {
  margin-right: 3.125rem;
}

.app-container {
  padding: 3.125rem;
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.highlight-line {
  padding: 1rem 2rem;
}

.min-height {
  height: min-content;
}

.bg-alice-blue {
  background-color: aliceblue;
}

.bg-white-smoke {
  background-color: whitesmoke;
}

.bg-navy {
  background-color: navy;
  color: white;
}

.bg-slate {
  background-color: slategray;
  color: white;
}
