*:focus {
  outline: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.055rem;
  text-transform: capitalize;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.055rem;
  text-transform: capitalize;
}

h3 {
  font-size: 1.17rem;
  letter-spacing: 0.055rem;
  text-transform: capitalize;
}

h4 {
  font-size: 1rem;
  letter-spacing: 0.055rem;
  text-transform: capitalize;
}

h5 {
  font-size: 0.83rem;
  letter-spacing: 0.055rem;
  text-transform: capitalize;
}

h6 {
  font-size: 0.67rem;
  letter-spacing: 0.055rem;
  text-transform: capitalize;
}

p {
  font-size: 0.875rem;
  letter-spacing: 0.0725rem;
  line-height: 1.75rem;
}

li {
  letter-spacing: 0.055rem;
  line-height: 1.75rem;
}

span {
  letter-spacing: 0.055rem;
  line-height: 1.75rem;
}
