.accordion-drawer {
  display: flex;
  justify-content: space-between;
  border: thin solid #335c67;
  padding: 0.5rem 0.85rem;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
  
.accordion-container {
  position: relative;
}
  
.accordion-collapse {
  position: absolute;
  right: 14px;
  top: 10px;
  z-index: 2;
}

.icon-btn {
  border-radius: 50%;
}
