.header-link,
.header-link-mobile {
  color: black;
  text-decoration: none;
  font-size: 0.875rem;
  letter-spacing: 0.0725rem;
  line-height: 1.75rem;
  white-space: nowrap;
  height: min-content;
  padding-bottom: 0.5rem;
}

.sub-link {
  padding: 0.85rem 2rem;
}

.sub-link:hover {
  border-bottom: none;
}

.accent-btn-link {
  color: white;
  padding: 0 3rem;
  height: 100%;
  text-decoration: none;
}

.header-link:visited,
.header-link-mobile:visited {
  color: black;
}

.header-link:hover,
.header-link-mobile:hover {
  color: black;
  border-bottom: 2px solid black;
}

.underline {
  border-bottom: 2px solid black;
}

.header-link:focus,
.header-link-mobile:focus {
  border-top: none;
  border-left: none;
  border-right: none;
}

@media (min-width: 1024px) {
  .header-link-mobile {
    display: none;
  }
}
